html
  head
    title Kingdom Hearts App
  body
    h1 Bienvenido a la KH-API!
    p Gestión de personajes, magias y niveles
    ul
      li
        a(href="/list-characters") Ver personajes
      li
        a(href="/list-magics") Ver magias
      li
        a(href="/list-levels") Ver niveles